<div fxLayout="row">
  <form [formGroup]="dateForm" (ngSubmit)="onSubmit()">
    <mat-form-field fxFlex="70%" fxLayoutGap="25px">
      <input matInput formControlName="birthDate" [matDatepicker]="picker" name="birthDate" placeholder="Birth Date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field fxFlex="30%">
      <input matInput formControlName="time" type="time" id="time" name="time">
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" type="submit">Save</button>
  </form>
</div>
<br>
<!-- <span *ngIf="birthDate.valueOf">{{birthDate | date:'yyyy-MM-dd'}}</span> -->
<br>
