<button routerLink="/"  mat-button color="primary">
  Home
</button>
<button routerLink="/table" fragment='tabela-pierwsza' mat-button color="primary">
  Table
</button>
<button routerLink="/table" fragment='tabela-pierwsza' mat-button color="primary">
  Tabela pierwsza
</button>
<button routerLink="/table" fragment='tabela-druga' mat-button color="primary">
  Tabela druga
</button>
<button routerLink="/table" fragment='tabela-trzecia' mat-button color="primary">
  Tabela trzecia
</button>
<button routerLink="/table" fragment='tabela-czwarta' mat-button color="primary">
  Tabela czwarta
</button>
<button routerLink="/date" mat-button color="primary">
  Data
</button>
